.App {
  text-align: center;
}

.sign-out {
  display: flex;
  justify-content: flex-end;
}

.particleBg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  color: white;
  background: black;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
}
